.jumbotron{
    background-color: yellow;
    color: black;
    margin-top: 50px;
}
footer{
    padding: 10px 10px 0 10px;
    background-color: yellow;
    margin-bottom: 0px;
    margin-top: 10px;
}
.card-hotel{
    flex: 1 200px;
    margin-top: 10px;
}
.btn-reserva{
    width: 100%;
    border-radius: 0px;
}

.footer-address-icon{
    padding-right: 10px;
}

.banner {
    position: relative;    
    display: inline-block; 
  }
  
.banner-text {
    position: absolute;    
    bottom: 0;             
    right: 1rem;
    color: white;
  }

.card-title{
    font-weight: bold;
    margin-top: 10px;
    margin-left: 10px;
}
