$yellow: #ffbb00;
$green: #056b47;
$red: #cc1d1d;

@mixin margenes($top: 0px, $bottom: 0px){
    margin-top: $top;
    margin-bottom: $bottom;
}

@mixin margenes2($padding, $background: $yellow){
    padding: $padding;
    background-color: $background;
}

@mixin colorButtons($background: $green, $color: white, $border: $green ){
    border-color: $border !important;
    background-color: $background !important;
    color: $color !important;
}

.jumbotron{
    background-color: $yellow;
    color: $red;
    @include margenes(50px);
}
footer{
    @include margenes2(10px 10px 0 10px);
    @include margenes(10px);
}
.card-hotel{
    flex: 1 200px;
    @include margenes(10px);
}
.btn-reserva{
    width: 100%;
    border-radius: 0px;
}

.footer-address-icon{
    padding-right: 10px;
}

.banner {
    position: relative;    
    display: inline-block; 
  }
  
.banner-text {
    position: absolute;    
    bottom: 0;             
    right: 1rem;
    color: $red;
  }

.card-title{
    font-weight: bold;
    @include margenes(10px);
    margin-left: 10px;
}
.btn-primary {
    @include colorButtons( );
}

.btn-outline-primary{
    @include colorButtons( white, $green, $green );
}

.btn-outline-primary:hover {
    @include colorButtons( );
}