.jumbotron {
  background-color: #ffbb00;
  color: #cc1d1d;
  margin-top: 50px;
  margin-bottom: 0px; }

footer {
  padding: 10px 10px 0 10px;
  background-color: #ffbb00;
  margin-top: 10px;
  margin-bottom: 0px; }

.card-hotel {
  flex: 1 200px;
  margin-top: 10px;
  margin-bottom: 0px; }

.btn-reserva {
  width: 100%;
  border-radius: 0px; }

.footer-address-icon {
  padding-right: 10px; }

.banner {
  position: relative;
  display: inline-block; }

.banner-text {
  position: absolute;
  bottom: 0;
  right: 1rem;
  color: #cc1d1d; }

.card-title {
  font-weight: bold;
  margin-top: 10px;
  margin-bottom: 0px;
  margin-left: 10px; }

.btn-primary {
  border-color: #056b47 !important;
  background-color: #056b47 !important;
  color: white !important; }

.btn-outline-primary {
  border-color: #056b47 !important;
  background-color: white !important;
  color: #056b47 !important; }

.btn-outline-primary:hover {
  border-color: #056b47 !important;
  background-color: #056b47 !important;
  color: white !important; }
