@yellow: #ffbb00;
@green: #074a0a;
@red: #cc1d1d;


.margenes(@top: 0px, @bottom: 0px){
    margin-top: @top;
    margin-bottom: @bottom;
}

.margenes2(@padding, @background: @yellow){
  padding: @padding;
  background-color: @background;
}

.colorButtons(@background: @green, @color: white , @border: @green){
    border-color: @border !important;
    background-color: @background !important;
    color: @color !important;
}


.jumbotron {
    background-color: @yellow;
    color: @red;
    .margenes(50px);
}
  
  footer {
    .margenes2(10px 10px 0 10px);
    .margenes(10px); 
}
  
  .card-hotel {
    flex: 1 200px;
    .margenes(10px); 
}
  
  .btn-reserva {
    width: 100%;
    border-radius: 0px; }
  
  .footer-address-icon {
    padding-right: 10px; }
  
  .banner {
    position: relative;
    display: inline-block; }
  
  .banner-text {
    position: absolute;
    bottom: 0;
    right: 1rem;
    color: @red; }
  
  .card-title {
    font-weight: bold;
    margin-left: 10px;
    .margenes(10px);      
  }
  
  .btn-primary {
    .colorButtons();
 }
  
  .btn-outline-primary {
    .colorButtons( white, @green, @green );
  }
  
  .btn-outline-primary:hover {
    .colorButtons();
 }